<h1><%= @airline.name %></h1>
<%= link_to "View Details", "/airlines/#{airline.id}" %>
<h3>Passengers:</h3>
<ul>
<% @airline.travelers.each do | passenger | %>
    <li><%= passenger.name %></li>
<% end %>
</ul>